* {
    margin: 0;
    padding: 0;
}



#wrapper {
    background-color: #212F3D;
    width: 100%;
    background-image: url('../media/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.blur {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    width: 100%;
}

#contenedorHeader {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    height: 50px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 15px gray;
}

#logo img {
    object-fit: cover;
    width: 125px;
}

#navegador ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.botonNavegacion {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    padding: 2px;

}

.botonNavegacion:hover {
    cursor: pointer;
}

#contenedorBuscar form {
    display: flex;
}

#contenedorBuscar form input,
button {
    border: none;
    background-color: white;
    padding: 1px 5px;
    outline: none;
    border-bottom: 1px solid gray;
}

#contenedorBuscar form button {
    margin-right: 10px;
    cursor: default;

}

#contenedorBuscar form button img {
    width: 25px;

}



#seccionPersonaje {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

#seccionPersonaje article {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

}




#contenedorMainSecction {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.titulosSecciones {
    margin-top: 10px;
    width: 40%;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 50px;

}

.contenedorArticulos {
    width: 100%;
    display: flex;

}

.cardPersonajess {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 95%;
    max-width: 550px;
    box-shadow: 5px 5px 120px #000000;
    color: lightgray;
    border: 1px solid black;
}

.cardPersonajess:hover {
    color: white;
    cursor: pointer;
}

.cardPersonajess img {
    width: 200px;
    border-radius: 10px 0px 0px 10px;
}

.datosPersonajes {
    background-color: #5D6D7E;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    border-left: 1px solid black;
}

.botonesPaginacionPersonajes {
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

#divBotonesPersonajes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px;
    width: 100%;
    justify-content: center;
}

#divBotonesPersonajes>button {
    padding: 4px;
    border-radius: 5px;
    border: none;
    border: 1px solid lightgray;
}

#divBotonesPersonajes>button:hover {
    cursor: pointer;
    border: 1px solid black;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    flex-direction: column;

    align-items: center;
    backdrop-filter: blur(5px);
    overflow-y: auto;
    margin-block-end: 50px;
}

#modal>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.85);
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
    margin-top: 150px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow-y: auto;
}

.divAtributos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    white-space: inherit;
    max-width: 550px;
    width: 40%;
    border: 1px solid lightgray;
    background-color: rgb(233, 233, 233);
    box-shadow: 3px 4px 10px rgb(185, 185, 185);
    padding: 10px 5px;
    border-radius: 5px;
}

#botonSalirModal {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

#botonSalirModal img {
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
}

#botonSalirModal img:hover {
    box-shadow: 0px 0px 10px 5px white;
}

.titulosPersonajes {
    font-size: small;
    color: gray;
    padding-bottom: 7px;

}

#ContendedorPersonajeIMG {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}

#ContendedorPersonajeIMG img {
    border-radius: 50%;
    width: 250px;
    box-shadow: 0px 5px 20px gray;
    margin: auto;
}

.DatosPersonajes {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}



.divEpisodios {
    width: 90%;
    border: 1px solid lightgray;
    background-color: rgb(233, 233, 233);
    box-shadow: 3px 4px 10px rgb(185, 185, 185);
    padding: 10px 5px;
    border-radius: 5px;
}

#contenedorEpisodios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: stretch;
    align-items: stretch;
}

.cadaEpisodio {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px rgb(180, 180, 180);
    justify-content: stretch;
    align-items: stretch;
    width: 25%;
    padding: 5px;
    min-width: 200px
}

.cadaEpisodio div {
    display: flex;
    flex-direction: column;
}

.titulosEpisodios {
    font-size: small;
    color: gray;
    padding-bottom: 4px;
}

.descripEpisodio {
    margin-left: 15px;
    font-size: smaller;
}